%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " " ;
    display: table;
  }
  &:after {
    clear: both;
  }
}

.content-grid img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

.wrapper {
  width: 95%;
  max-width: $grid-max-width;
  margin: 0 auto;
}

.wrapper, .row{
  @extend %clearfix;
  @include center-margin;
  width: 99%;
}

[class*='column-'] {
  float: left;
  padding: 0.5em;
  width: 100%;
  min-height: 1px;
}

@for $i from 1 through 12 {
  .column-#{$i} {
    width: 100% / 12 * $i;
  }
}

.grid-medium, .grid-small {
  display: none;
}

@media #{$medium} {
  .grid-large {
    display: none;
  }

  .grid-medium {
    display: block;
  }

}

@media #{$medium-large} {
  .container.grid-large {
    max-width: 822px;
  }
}

@media #{$small} {
  .grid-medium {
    display: none;
  }

  .grid-small {
    display: block;
  }
}
