.hero {
  @include full-size;
  display: block;
  text-align: center;
  position: relative;
}

.hero img {
  max-width: 100%;
  max-height: 100%;
}

.hero h4 {
  font-size: 22px;
  position: absolute;
  top: 42.7%;
  left: 12%;
  width: 75%;
  color: $brand-text-color;
  line-height: 25px;
}

@media #{$large} {
  .hero h4 {
    font-size: 18px;
    top: 43.1%;
    line-height: 21px;
  }
}

@media #{$medium-large} {
  .hero h4 {
    font-size: 15px;
    top: 43.1%;
    line-height: 17px;
  }
}

@media #{$medium-small} {
  .hero h4 {
    font-size: 12px;
    top: 43.1%;
    line-height: 11px;
  }
}

@media #{$small} {
  .hero h4 {
    font-size: 23px;
    position: inherit;
    width: 77%;
    color: #ff07a3;
    margin-top: 13px;
    line-height: 26px;

  }
}
