// media query
$small:"(max-width:575px)";
$medium-small:"(max-width:767px)";
$medium:"(max-width:900px)";
$medium-large:"(max-width:991px)";
$large:"(max-width:1199px)";

// color palette
$bg-color1: #dddddd;
$bg-color2: #5a5a5a;
$accent-color: #90fef8;

// grid system
$grid-columns: 12;
$grid-max-width: 1200px;
