// media query
$small:"(max-width:575px)";
$medium-small:"(max-width:767px)";
$medium:"(max-width:900px)";
$medium-large:"(max-width:991px)";
$large:"(max-width:1199px)";

// color palette
$bg-color1: #dddddd;
$bg-color2: #5a5a5a;
$accent-color: #90fef8;
$brand-link-color: #ffff00;
$brand-hover-color: #00ffec;

// styling for odd containers
$brand-text-color: #fff;
$brand-p-color: #000;

// styling for even containers
$brand-text-color-2: #ff07a3;
$brand-p-color-2: #e8e8e8;

// grid system
$grid-columns: 12;
$grid-max-width: 1200px;
